

body {
    background-color:lightgray;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0;
    
}

header {
    background-color:darkmagenta;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 0;
}



h1 {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

#cabeca {
    background-color: blueviolet;
    height: 400px;
}

.conteiner {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

.titulo2 {
    justify-self: center;
    align-self: center;
    text-decoration: none;
}

.linha {
    box-shadow: inset 0 -1px 0 0 rgb(195, 43, 226);
}


.conteiner section h2 {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(195, 43, 226);
    font-size: large;
}


